@import "tailwindcss";
/* @import 'locomotive-scroll/dist/locomotive-scroll.css'; */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #FFFEF2 !important;
  overflow-x: hidden !important;
}

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


[data-scroll-container] {
  will-change: transform;
}

section {
  scroll-behavior: auto !important;
}

.inter-placeholder {
  font-family: 'Inter', sans-serif;
  /* font-size: 200px; */
  /* color: #000; */
}

.font-satisfy {
  font-family: 'Satisfy', sans-serif;
  /* font-size: 145px; */
  color: #1D322D;
}

.outer-radius-bottom-right {
  position: relative;
  overflow: hidden;
}

.outer-radius-bottom-right::after {
  content: '';
  position: absolute;
  bottom: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  background: black;
  border-radius: 0 0 12px 0;
  z-index: -1;
}